<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PathToPsExec" value="@'C:\Windows\SysWOW64\PsExec.exe'"/>
    <add key="PathToWinForm" value="@'\SERVER\New folder\WindowsFormsApp3.exe'"/>
    <add key="ServerName" value="@'\\win-gmg2oucdlho'"/>
  </appSettings>
</configuration>