<div class="box">
    <!-- <div class="circle_icon">
        <mat-icon svgIcon="avatar" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </div> -->
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline">
            <mat-label>שם משתמש</mat-label>
            <input matInput name="name" [(ngModel)]="user.userName" required>
            <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>סיסמא</mat-label>
            <input type="password" name="password" matInput [(ngModel)]="user.userTz" required>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <br>
        <button type="submit" mat-flat-button class="bt" [disabled]="!loginForm.form.valid">כניסה</button>
    </form>
</div>