<form class="example-form">
  <mat-form-field class="example-full-width">
      <input type="text" placeholder="התמחות" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="spec">
      <mat-autocomplete #spec="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>    
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="שם תלמידה" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="userName">
      <mat-autocomplete #userName="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>    
    </mat-form-field>
  </form>  