<div class="warp">
  <form #editForm="ngForm">
    <div *ngIf="data && data.price">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="גודל דף" name="size" [(ngModel)]="data.SizeOfPage.sizeName" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="מחיר שחור לבן" name="color" [(ngModel)]="data.price.priceBlackWhite" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="מחיר צבעוני" name="price" [(ngModel)]="data.price.priceColorFull" required>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-flat-button mat-dialog-close>ביטול</button>
        <button mat-flat-button [mat-dialog-close]="1" (click)="addSheet()">שמור</button>
      </div>
    </div>
  </form>
</div>