<a mat-icon-button class="btn_sign_out" routerLink="">
    <mat-icon>exit_to_app</mat-icon>
</a>
<br>
<a mat-button class="btn_history" routerLink="../viewPrintHistory">הסטורית הדפסות
    <mat-icon>history</mat-icon>
</a>


<div class="box">
    <h2>שלום {{user.userName}}</h2>
    <p>יתרתך: {{userBalance}}</p>
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onLoad()">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>הכניסי סכום</mat-label>
            <input type="number" pattern="^(\d*)\.?\d$" matInput name="amount" [value]="inputDeposit" [(ngModel)]="deposit.depositAmount" required >
        </mat-form-field>
        <button type="submit" mat-flat-button [disabled]="!loginForm.form.valid">טען</button>
    </form>
</div>