 <!-- <form class="example-form" (ngSubmit)="chanagePass()">
  <mat-form-field class="example-full-width">
    <input type="password" name="oldPass" [(ngModel)]="oldPass" matInput placeholder="הקש סיסמא ישנה" #oldPass1>
    {{oldPass1.touched}}
  </mat-form-field>
  <span class="password-validation-error" data-bind="text: OldPasswordError, visible: !OldPasswordValid()"></span>
  <mat-form-field class="example-full-width">
    <input type="password" [disabled]="!oldPass1.touched&&!isPassCorect()" required   [(ngModel)]="newPass" matInput placeholder="הקש סיסמא חדשה"  name="newPass" #newPass1="ngModel">
  </mat-form-field>
  
   <div *ngIf="newPass1.errors?.minlength">fhgdd</div>
  <mat-form-field class="example-full-width">
    <input type="password" [disabled]="!newPass1.valid" name="checkNewPass" [(ngModel)]="checkNewPass" matInput placeholder="הקש שוב סיסמא חדשה" >
  </mat-form-field>
 <input type="submit"  value="עדכן"> 
</form> -->
 <!-- <label *ngIf="newPass."></label>  -->