<a mat-button class="prev" routerLink="../loadingStaff">
  <mat-icon>arrow_back_ios</mat-icon>חזור
</a>

<div class="warp">
  <mat-form-field class="option">
    <mat-label>אפשרויות שינוי סיסמה</mat-label>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option *ngFor="let op of option" [value]="op.value">
        {{op.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="box">
    <form (ngSubmit)="chanagePass()" #PassForm="ngForm">

      <mat-form-field appearance="outline">
        <mat-label>סיסמה ישנה</mat-label>
        <input type="password" matInput name="oldPass" [disabled]="selectedValue==null" [(ngModel)]="oldPass" #oldPass1
          required>
      </mat-form-field>

      <div class="warning" *ngIf="!isPassCorect()&&oldPass!=null">סיסמה שגויה</div>

      <mat-form-field appearance="outline">
        <mat-label>סיסמה חדשה</mat-label>
        <input type="password" matInput required [(ngModel)]="newPass" name="newPass" #newPass1="ngModel"
          [disabled]="!isPassCorect()">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>שוב סיסמה חדשה</mat-label>
        <input type="password" matInput name="checkNewPass" [(ngModel)]="checkNewPass" required
          [disabled]="!newPass1.valid">
      </mat-form-field>

      <div class="warning" *ngIf="newPass!=checkNewPass&&checkNewPass!=null">סיסמאות לא תואמות</div>

      <button type="submit" mat-flat-button class="bt"
        [disabled]="!PassForm.form.valid||newPass!=checkNewPass">עדכן</button>
    </form>
  </div>
</div>