<a mat-button class="prev" routerLink="../loadingStaff">
  <mat-icon>arrow_back_ios</mat-icon>חזור
</a>

<div class="box">
  <form (ngSubmit)="chanagePass()">
    <mat-form-field appearance="outline">
      <mat-label>סיסמא ישנה</mat-label>
      <input matInput type="password" name="oldPass" [(ngModel)]="oldPass" #oldPass1>
      {{oldPass1.touched}}
    </mat-form-field>


    <span class="password-validation-error" data-bind="text: OldPasswordError, visible: !OldPasswordValid()"></span>
    <mat-form-field appearance="outline">
      <mat-label>סיסמא חדשה</mat-label>
      <input type="password" matInput [disabled]="!oldPass1.touched&&!isPassCorect()" required [(ngModel)]="newPass"
        name="newPass" #newPass1="ngModel">
    </mat-form-field>

    <div *ngIf="newPass1.errors?.minlength">fhgdd</div>
    <mat-form-field appearance="outline">
      <mat-label>שוב סיסמא חדשה</mat-label>
      <input type="password" matInput [disabled]="!newPass1.valid" name="checkNewPass" [(ngModel)]="checkNewPass">
       
    </mat-form-field>

    <button type="submit" mat-flat-button class="bt">עדכן</button>
  </form>
</div>